# Ignora los archivos third_party folder
application/third_party/clients/*
application/third_party/guardians/*
application/third_party/purchase_orders/*

application/config/config.php
application/config/database.php

# Ignora todos los archivos de texto
*.txt

# Ignora los archivos relacionados a API keys
.env